div#container {
   margin: 0 auto 0 auto;
   position: relative;
   text-align: left;
   width: 1200px;
}
body {
   background-color: #FFFFFF;
   color: #000000;
   font-family: "Exo 2";
   font-size: 13px;
   font-weight: 400;
   font-weight: 400;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#preloader {
   background: #FFFFFF url("images/box.gif") no-repeat center center;
   bottom: 0;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 99999;
}
#Layer1 {
   background-image: linear-gradient(to top, #F6F8F9 0%, #E5EBEE 50%, #D7DEE3 51%, #F5F7F9 100%);
   border-radius: 12px;
   box-shadow: 2px 2px 11px #0F6FC6;
   margin: 0;
}
#wb_Image1 {
   vertical-align: top;
}
#Image1 {
   border: 0px solid #000000;
   border-radius: 0px;
   height: 100%;
   left: 0;
   margin: 0;
   padding: 0;
   top: 0;
   width: 100%;
}
#wb_Text1 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_Text1 {
   color: #77893E;
   font-family: "Exo 2";
   font-size: 19px;
   font-weight: normal;
}
#wb_Text1 div {
   text-align: left;
}
#wb_Text2 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_Text2 {
   color: #000000;
   font-family: "Exo 2";
   font-size: 19px;
   font-weight: normal;
}
#wb_Text2 div {
   text-align: left;
}
#Button4 {
   -webkit-appearance: none;
   background-image: linear-gradient(to top, #CCFFFF 0%, #0099FF 17%, #0099CC 32%, #0066CC 46%, #000080 50%, #008080 54%, #00CC99 67%, #00CCCC 84%, #00FFFF 100%);
   border: 1px solid #2E6DA4;
   border-radius: 4px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
   margin: 0;
   padding: 1px 6px 1px 6px;
   text-align: center;
}
}
#Button4:focus {
   outline: 0;
}
#Layer2 {
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
   margin: 0;
   padding: 0;
}
#Layer2 {
   align-items: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
#Layer3 {
   background-color: #FBFBFB;
   background-image: none;
   border-radius: 0px;
   margin: 0;
   padding: 0;
}
#Article1 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   display: inline-block;
   font-family: "Exo 2";
   font-size: 15px;
   font-weight: normal;
   line-height: 1.2;
   margin: 0;
   position: relative;
   text-align: left;
   width: 100%;
}
#Article1 .blogitem {
   margin-bottom: 6px;
   padding: 2px;
   text-align: left;
}
#Article1 .blogdate {
   color: #000000;
   font-family: "Exo 2";
   font-size: 13px;
   font-style: normal;
   font-weight: bold;
   text-decoration: none;
}
#Article1 .blogsubject {
   color: #0F6FC6;
   font-family: "Exo 2";
   font-size: 16px;
   font-style: normal;
   font-weight: normal;
   text-decoration: none;
}
#Article1 .blogcomments {
   color: #000000;
   font-family: "Exo 2";
   font-size: 15px;
   font-style: normal;
   font-weight: normal;
   text-decoration: underline;
}
#Article1 .blogsubject a:link,
#Article1 .blogsubject a:visited,
#Article1 .blogsubject a:hover {
   color: inherit;
   text-decoration: inherit;
}
#Article1 .blogcomments a:link,
#Article1 .blogcomments a:visited,
#Article1 .blogcomments a:hover {
   color: inherit;
   text-decoration: inherit;
}
#Article1 .blogcomments {
   text-decoration: none;
}
#Article1 .no-thumb {
   display: none;
}
#Article1 .blogitem {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   background-color: transparent;
   box-sizing: border-box;
   display: inline-block;
   padding: 0;
   width: 100%;
}
#Article1 .blogblock {
   border: 1px solid #cccccc;
   -moz-border-radius: 4px;
   -moz-box-sizing: border-box;
   -webkit-border-radius: 4px;
   -webkit-box-sizing: border-box;
   background-color: #EEEEEE;
   border-radius: 4px;
   box-sizing: border-box;
   display: inline-block;
   padding: 10px;
   width: 100%;
}
#Article1 .blogsubject {
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   background-color: #EEEEEE;
   border: 1px solid #cccccc;
   border-radius: 4px;
   display: block;
   margin: 0 0 6px 0;
   padding: 10px;
}
#Article1 .blogtext {
   display: inline-block;
   height: 100%;
}
#Article1 .blogthumb {
   -moz-border-radius: 4px;
   -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -webkit-border-radius: 4px;
   -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
   -webkit-transition: all 0.2s ease-in-out;
   background-color: #FFFFFF;
   border: 1px solid #ddd;
   border-radius: 4px;
   box-shadow: 0px 1px 3px rgba(0,0,0,0.055);
   display: inline-block;
   float: right;
   margin: 5px;
   padding: 4px;
   transition: all 0.2s ease-in-out;
}
#Article1 .blogthumb img {
   border-width: 0;
   height: auto;
   margin: 0px 0px 0px 0px;
   vertical-align: middle;
   width: 120px;
}
#Article1 .blogbutton {
   color: #000000;
   cursor: pointer;
   font-family: Exo 2;
   font-size: 15px;
   margin-top: 6px;
   text-decoration: underline;
}
#Article1 .blogdate,
#Article1 .blogcomments {
   display: none;
}
#Article1 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   font-family: "Exo 2";
   font-style: normal;
   font-weight: normal;
   margin: 0;
}
#Article2 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   display: inline-block;
   font-family: "Exo 2";
   font-size: 15px;
   font-weight: normal;
   line-height: 1.2;
   margin: 0;
   position: relative;
   text-align: left;
   width: 100%;
}
#Article2 .blogitem {
   margin-bottom: 6px;
   padding: 2px;
   text-align: left;
}
#Article2 .blogdate {
   color: #000000;
   font-family: "Exo 2";
   font-size: 13px;
   font-style: normal;
   font-weight: bold;
   text-decoration: none;
}
#Article2 .blogsubject {
   color: #0F6FC6;
   font-family: "Exo 2";
   font-size: 16px;
   font-style: normal;
   font-weight: normal;
   text-decoration: none;
}
#Article2 .blogcomments {
   color: #000000;
   font-family: "Exo 2";
   font-size: 15px;
   font-style: normal;
   font-weight: normal;
   text-decoration: underline;
}
#Article2 .blogsubject a:link,
#Article2 .blogsubject a:visited,
#Article2 .blogsubject a:hover {
   color: inherit;
   text-decoration: inherit;
}
#Article2 .blogcomments a:link,
#Article2 .blogcomments a:visited,
#Article2 .blogcomments a:hover {
   color: inherit;
   text-decoration: inherit;
}
#Article2 .blogcomments {
   text-decoration: none;
}
#Article2 .no-thumb {
   display: none;
}
#Article2 .blogitem {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   background-color: transparent;
   box-sizing: border-box;
   display: inline-block;
   padding: 0;
   width: 100%;
}
#Article2 .blogblock {
   border: 1px solid #cccccc;
   -moz-border-radius: 4px;
   -moz-box-sizing: border-box;
   -webkit-border-radius: 4px;
   -webkit-box-sizing: border-box;
   background-color: #EEEEEE;
   border-radius: 4px;
   box-sizing: border-box;
   display: inline-block;
   padding: 10px;
   width: 100%;
}
#Article2 .blogsubject {
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   background-color: #EEEEEE;
   border: 1px solid #cccccc;
   border-radius: 4px;
   display: block;
   margin: 0 0 6px 0;
   padding: 10px;
}
#Article2 .blogtext {
   display: inline-block;
   height: 100%;
}
#Article2 .blogthumb {
   -moz-border-radius: 4px;
   -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -webkit-border-radius: 4px;
   -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
   -webkit-transition: all 0.2s ease-in-out;
   background-color: #FFFFFF;
   border: 1px solid #ddd;
   border-radius: 4px;
   box-shadow: 0px 1px 3px rgba(0,0,0,0.055);
   display: inline-block;
   float: right;
   margin: 5px;
   padding: 4px;
   transition: all 0.2s ease-in-out;
}
#Article2 .blogthumb img {
   border-width: 0;
   height: auto;
   margin: 0px 0px 0px 0px;
   vertical-align: middle;
   width: 120px;
}
#Article2 .blogbutton {
   color: #000000;
   cursor: pointer;
   font-family: Exo 2;
   font-size: 15px;
   margin-top: 6px;
   text-decoration: underline;
}
#Article2 .blogdate,
#Article2 .blogcomments {
   display: none;
}
#Article2 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   font-family: "Exo 2";
   font-style: normal;
   font-weight: normal;
   margin: 0;
}
#Article3 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   display: inline-block;
   font-family: "Exo 2";
   font-size: 15px;
   font-weight: normal;
   line-height: 1.2;
   margin: 0;
   position: relative;
   text-align: left;
   width: 100%;
}
#Article3 .blogitem {
   margin-bottom: 6px;
   padding: 2px;
   text-align: left;
}
#Article3 .blogdate {
   color: #000000;
   font-family: "Exo 2";
   font-size: 13px;
   font-style: normal;
   font-weight: bold;
   text-decoration: none;
}
#Article3 .blogsubject {
   color: #0F6FC6;
   font-family: "Exo 2";
   font-size: 16px;
   font-style: normal;
   font-weight: normal;
   text-decoration: none;
}
#Article3 .blogcomments {
   color: #000000;
   font-family: "Exo 2";
   font-size: 15px;
   font-style: normal;
   font-weight: normal;
   text-decoration: underline;
}
#Article3 .blogsubject a:link,
#Article3 .blogsubject a:visited,
#Article3 .blogsubject a:hover {
   color: inherit;
   text-decoration: inherit;
}
#Article3 .blogcomments a:link,
#Article3 .blogcomments a:visited,
#Article3 .blogcomments a:hover {
   color: inherit;
   text-decoration: inherit;
}
#Article3 .blogcomments {
   text-decoration: none;
}
#Article3 .no-thumb {
   display: none;
}
#Article3 .blogitem {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   background-color: transparent;
   box-sizing: border-box;
   display: inline-block;
   padding: 0;
   width: 100%;
}
#Article3 .blogblock {
   border: 1px solid #cccccc;
   -moz-border-radius: 4px;
   -moz-box-sizing: border-box;
   -webkit-border-radius: 4px;
   -webkit-box-sizing: border-box;
   background-color: #EEEEEE;
   border-radius: 4px;
   box-sizing: border-box;
   display: inline-block;
   padding: 10px;
   width: 100%;
}
#Article3 .blogsubject {
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   background-color: #EEEEEE;
   border: 1px solid #cccccc;
   border-radius: 4px;
   display: block;
   margin: 0 0 6px 0;
   padding: 10px;
}
#Article3 .blogtext {
   display: inline-block;
   height: 100%;
}
#Article3 .blogthumb {
   -moz-border-radius: 4px;
   -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -webkit-border-radius: 4px;
   -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
   -webkit-transition: all 0.2s ease-in-out;
   background-color: #FFFFFF;
   border: 1px solid #ddd;
   border-radius: 4px;
   box-shadow: 0px 1px 3px rgba(0,0,0,0.055);
   display: inline-block;
   float: right;
   margin: 5px;
   padding: 4px;
   transition: all 0.2s ease-in-out;
}
#Article3 .blogthumb img {
   border-width: 0;
   height: auto;
   margin: 0px 0px 0px 0px;
   vertical-align: middle;
   width: 120px;
}
#Article3 .blogbutton {
   color: #000000;
   cursor: pointer;
   font-family: Exo 2;
   font-size: 15px;
   margin-top: 6px;
   text-decoration: underline;
}
#Article3 .blogdate,
#Article3 .blogcomments {
   display: none;
}
#Article3 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   font-family: "Exo 2";
   font-style: normal;
   font-weight: normal;
   margin: 0;
}
#Banner3 {
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 0px;
   color: #0F6FC6;
   font-family: "Exo 2";
   font-size: 27px;
   font-style: normal;
   font-weight: normal;
   margin: 0;
   text-align: center;
   text-shadow: 0px 0px 13px rgba(153,215,239,1.00);
}
#Banner3 span {
   display: block;
   height: 27px;
   margin: 19px 0 19px 0;
}
#Banner3 span:before,
#Banner3 span:after {
   display: block;
   left: 0;
   position: absolute;
   right: 0;
   top: 63px;
}
Banner3 span:before {
   content: "Content Dumpyard";
   opacity: .3;
   transform: scaleY(-1);
}
#Article4 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   display: inline-block;
   font-family: "Exo 2";
   font-size: 15px;
   font-weight: normal;
   line-height: 1.2;
   margin: 0;
   position: relative;
   text-align: left;
   width: 100%;
}
#Article4 .blogitem {
   margin-bottom: 6px;
   padding: 2px;
   text-align: left;
}
#Article4 .blogdate {
   color: #000000;
   font-family: "Exo 2";
   font-size: 13px;
   font-style: normal;
   font-weight: bold;
   text-decoration: none;
}
#Article4 .blogsubject {
   color: #0F6FC6;
   font-family: "Exo 2";
   font-size: 16px;
   font-style: normal;
   font-weight: normal;
   text-decoration: none;
}
#Article4 .blogcomments {
   color: #000000;
   font-family: "Exo 2";
   font-size: 15px;
   font-style: normal;
   font-weight: normal;
   text-decoration: underline;
}
#Article4 .blogsubject a:link,
#Article4 .blogsubject a:visited,
#Article4 .blogsubject a:hover {
   color: inherit;
   text-decoration: inherit;
}
#Article4 .blogcomments a:link,
#Article4 .blogcomments a:visited,
#Article4 .blogcomments a:hover {
   color: inherit;
   text-decoration: inherit;
}
#Article4 .blogcomments {
   text-decoration: none;
}
#Article4 .no-thumb {
   display: none;
}
#Article4 .blogbutton {
   display: none  !important;
}
#Article4 .blogitem {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   background-color: transparent;
   box-sizing: border-box;
   display: inline-block;
   padding: 0;
   width: 100%;
}
#Article4 .blogblock {
   border: 1px solid #cccccc;
   -moz-border-radius: 4px;
   -moz-box-sizing: border-box;
   -webkit-border-radius: 4px;
   -webkit-box-sizing: border-box;
   background-color: #EEEEEE;
   border-radius: 4px;
   box-sizing: border-box;
   display: inline-block;
   padding: 10px;
   width: 100%;
}
#Article4 .blogsubject {
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   background-color: #EEEEEE;
   border: 1px solid #cccccc;
   border-radius: 4px;
   display: block;
   margin: 0 0 6px 0;
   padding: 10px;
}
#Article4 .blogtext {
   display: inline-block;
   height: 100%;
}
#Article4 .blogthumb {
   -moz-border-radius: 4px;
   -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -webkit-border-radius: 4px;
   -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
   -webkit-transition: all 0.2s ease-in-out;
   background-color: #FFFFFF;
   border: 1px solid #ddd;
   border-radius: 4px;
   box-shadow: 0px 1px 3px rgba(0,0,0,0.055);
   display: inline-block;
   float: right;
   margin: 5px;
   padding: 4px;
   transition: all 0.2s ease-in-out;
}
#Article4 .blogthumb img {
   border-width: 0;
   height: auto;
   margin: 0px 0px 0px 0px;
   vertical-align: middle;
   width: 120px;
}
#Article4 .blogbutton {
   color: #000000;
   cursor: pointer;
   font-family: Exo 2;
   font-size: 15px;
   margin-top: 6px;
   text-decoration: underline;
}
#Article4 .blogdate,
#Article4 .blogcomments {
   display: none;
}
#Article4 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   font-family: "Exo 2";
   font-style: normal;
   font-weight: normal;
   margin: 0;
}
#Article5 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   display: inline-block;
   font-family: "Exo 2";
   font-size: 15px;
   font-weight: normal;
   line-height: 1.2;
   margin: 0;
   position: relative;
   text-align: left;
   width: 100%;
}
#Article5 .blogitem {
   margin-bottom: 6px;
   padding: 2px;
   text-align: left;
}
#Article5 .blogdate {
   color: #000000;
   font-family: "Exo 2";
   font-size: 13px;
   font-style: normal;
   font-weight: bold;
   text-decoration: none;
}
#Article5 .blogsubject {
   color: #0F6FC6;
   font-family: "Exo 2";
   font-size: 16px;
   font-style: normal;
   font-weight: normal;
   text-decoration: none;
}
#Article5 .blogcomments {
   color: #000000;
   font-family: "Exo 2";
   font-size: 15px;
   font-style: normal;
   font-weight: normal;
   text-decoration: underline;
}
#Article5 .blogsubject a:link,
#Article5 .blogsubject a:visited,
#Article5 .blogsubject a:hover {
   color: inherit;
   text-decoration: inherit;
}
#Article5 .blogcomments a:link,
#Article5 .blogcomments a:visited,
#Article5 .blogcomments a:hover {
   color: inherit;
   text-decoration: inherit;
}
#Article5 .blogcomments {
   text-decoration: none;
}
#Article5 .no-thumb {
   display: none;
}
#Article5 .blogbutton {
   display: none  !important;
}
#Article5 .blogitem {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   background-color: transparent;
   box-sizing: border-box;
   display: inline-block;
   padding: 0;
   width: 100%;
}
#Article5 .blogblock {
   border: 1px solid #cccccc;
   -moz-border-radius: 4px;
   -moz-box-sizing: border-box;
   -webkit-border-radius: 4px;
   -webkit-box-sizing: border-box;
   background-color: #EEEEEE;
   border-radius: 4px;
   box-sizing: border-box;
   display: inline-block;
   padding: 10px;
   width: 100%;
}
#Article5 .blogsubject {
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   background-color: #EEEEEE;
   border: 1px solid #cccccc;
   border-radius: 4px;
   display: block;
   margin: 0 0 6px 0;
   padding: 10px;
}
#Article5 .blogtext {
   display: inline-block;
   height: 100%;
}
#Article5 .blogthumb {
   -moz-border-radius: 4px;
   -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -webkit-border-radius: 4px;
   -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
   -webkit-transition: all 0.2s ease-in-out;
   background-color: #FFFFFF;
   border: 1px solid #ddd;
   border-radius: 4px;
   box-shadow: 0px 1px 3px rgba(0,0,0,0.055);
   display: inline-block;
   float: right;
   margin: 5px;
   padding: 4px;
   transition: all 0.2s ease-in-out;
}
#Article5 .blogthumb img {
   border-width: 0;
   height: auto;
   margin: 0px 0px 0px 0px;
   vertical-align: middle;
   width: 120px;
}
#Article5 .blogbutton {
   color: #000000;
   cursor: pointer;
   font-family: Exo 2;
   font-size: 15px;
   margin-top: 6px;
   text-decoration: underline;
}
#Article5 .blogdate,
#Article5 .blogcomments {
   display: none;
}
#Article5 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   font-family: "Exo 2";
   font-style: normal;
   font-weight: normal;
   margin: 0;
}
#Button4 {
   height: 24px;
   left: 1093px;
   position: absolute;
   top: 11px;
   width: 96px;
   z-index: 3;
}
#Article5 {
   overflow: hidden;
}
#Article4 {
   overflow: hidden;
}
#wb_Image1 {
   height: 74px;
   left: 0px;
   position: absolute;
   top: 12px;
   width: 122px;
   z-index: 1;
}
#Article3 {
   overflow: hidden;
}
#Article2 {
   overflow: hidden;
}
#Banner3 {
   height: 77px;
   left: 0px;
   position: absolute;
   top: 98px;
   width: 1198px;
   z-index: 11;
}
#Article1 {
   overflow: hidden;
}
#wb_Text1 {
   height: 27px;
   left: 142px;
   position: absolute;
   top: 0px;
   width: 249px;
   z-index: 0;
}
#wb_Text2 {
   height: 27px;
   left: 142px;
   position: absolute;
   top: 59px;
   width: 328px;
   z-index: 2;
}
#Layer1 {
   clear: left;
   display: block;
   float: left;
   height: 98px;
   position: relative;
   text-align: center;
   width: 100%;
   z-index: 4;
}
#Layer2 {
   clear: left;
   display: inline-flex;
   float: left;
   height: 97px;
   position: relative;
   text-align: center;
   width: 100%;
   z-index: 12;
}
#Layer3 {
   display: inline-block;
   float: left;
   height: 1599px;
   position: relative;
   text-align: left;
   width: 100%;
   z-index: 13;
}
#Layer1_Container {
   margin-left: auto;
   margin-right: auto;
   position: relative;
   text-align: left;
   width: 1200px;
}
#Layer2_Container {
   width: 100%;
}
@media only screen and (min-width: 480px) and (max-width: 1199px) {
div#container {
   width: 480px;
}
body {
   background-color: #FFFFFF;
   background-image: none;
}
#MasterPage1 {
   display: inline;
   height: 98px;
   left: 0px;
   top: 0px;
   visibility: visible;
   width: 480px;
}
#Layer1 {
   border-radius: 0px;
   display: block;
   height: 98px;
   margin: 0;
   visibility: visible;
   width: 480px;
}
#Layer1 {
   margin: 0;
}
#Layer1_Container {
   width: 480px;
}
#Layer1 {
   height: 98px;
   width: 100%;
}
#wb_Image1 {
   display: inline;
   height: 74px;
   left: 0px;
   margin: 0;
   padding: 0;
   top: 12px;
   visibility: visible;
   width: 122px;
}
#wb_Text1 {
   display: inline;
   height: 27px;
   left: 142px;
   top: 12px;
   visibility: visible;
   width: 249px;
}
#wb_Text1 {
   font-family: "Exo 2";
   font-size: 19px;
   font-weight: 400;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_Text2 {
   display: inline;
   height: 27px;
   left: 142px;
   top: 59px;
   visibility: visible;
   width: 328px;
}
#wb_Text2 {
   font-family: "Exo 2";
   font-size: 19px;
   font-weight: 400;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Button4 {
   display: inline;
   height: 24px;
   left: 374px;
   margin: 0;
   padding: 1px 6px 1px 6px;
   top: 15px;
   visibility: visible;
   width: 96px;
}
#Layer2 {
   background-color: #FBFBFB;
   background-image: none;
   background-image: none;
   display: inline-flex;
   height: 87px;
   margin: 0;
   visibility: visible;
   width: 480px;
}
#Layer2 {
   margin: 0;
}
#Layer2 {
   height: 87px;
   width: 100%;
}
#Layer2 {
   padding: 0;
}
#Layer3 {
   display: inline-block;
   height: 1241px;
   margin: 0;
   visibility: visible;
}
#Layer3 {
   margin: 0;
   width: 100%;
}
#Layer3 {
   height: 1241px;
   width: 100%;
}
#Layer3 {
   padding: 0;
}
#Article1 {
   display: block;
   visibility: visible;
}
#Article1 {
   font-family: "Exo 2";
   font-size: 15px;
}
#Article1 .blogdate {
   font-family: "Exo 2";
   font-size: 13px;
}
#Article1 .blogsubject {
   font-family: "Exo 2";
   font-size: 16px;
}
#Article1 .blogcomments {
   font-family: "Exo 2";
   font-size: 15px;
}
#Article1 .blogbutton {
   font-family: "Exo 2";
   font-size: 15px;
}
#Article1 .blogcolumn {
   width: 100%;
}
#Article1 .visible-col1 {
   display: block;
}
#Article2 {
   display: block;
   visibility: visible;
}
#Article2 {
   font-family: "Exo 2";
   font-size: 15px;
}
#Article2 .blogdate {
   font-family: "Exo 2";
   font-size: 13px;
}
#Article2 .blogsubject {
   font-family: "Exo 2";
   font-size: 16px;
}
#Article2 .blogcomments {
   font-family: "Exo 2";
   font-size: 15px;
}
#Article2 .blogbutton {
   font-family: "Exo 2";
   font-size: 15px;
}
#Article2 .blogcolumn {
   width: 100%;
}
#Article2 .visible-col1 {
   display: block;
}
#Article3 {
   display: block;
   visibility: visible;
}
#Article3 {
   font-family: "Exo 2";
   font-size: 15px;
}
#Article3 .blogdate {
   font-family: "Exo 2";
   font-size: 13px;
}
#Article3 .blogsubject {
   font-family: "Exo 2";
   font-size: 16px;
}
#Article3 .blogcomments {
   font-family: "Exo 2";
   font-size: 15px;
}
#Article3 .blogbutton {
   font-family: "Exo 2";
   font-size: 15px;
}
#Article3 .blogcolumn {
   width: 100%;
}
#Article3 .visible-col1 {
   display: block;
}
#Banner3 {
   display: block;
   height: 79px;
   left: 80px;
   margin: 0;
   top: 98px;
   visibility: visible;
   width: 320px;
}
#Banner3 span {
   height: 27px;
   margin: 25px 0 25px 0;
}
#Article4 {
   display: block;
   visibility: visible;
}
#Article4 {
   font-family: "Exo 2";
   font-size: 15px;
}
#Article4 .blogdate {
   font-family: "Exo 2";
   font-size: 13px;
}
#Article4 .blogsubject {
   font-family: "Exo 2";
   font-size: 16px;
}
#Article4 .blogcomments {
   font-family: "Exo 2";
   font-size: 15px;
}
#Article4 .blogbutton {
   font-family: "Exo 2";
   font-size: 15px;
}
#Article4 .blogcolumn {
   width: 100%;
}
#Article4 .visible-col1 {
   display: block;
}
#Article5 {
   display: block;
   visibility: visible;
}
#Article5 {
   font-family: "Exo 2";
   font-size: 15px;
}
#Article5 .blogdate {
   font-family: "Exo 2";
   font-size: 13px;
}
#Article5 .blogsubject {
   font-family: "Exo 2";
   font-size: 16px;
}
#Article5 .blogcomments {
   font-family: "Exo 2";
   font-size: 15px;
}
#Article5 .blogbutton {
   font-family: "Exo 2";
   font-size: 15px;
}
#Article5 .blogcolumn {
   width: 100%;
}
#Article5 .visible-col1 {
   display: block;
}
}
@media only screen and (max-width: 479px) {
div#container {
   width: 320px;
}
body {
   background-color: #FFFFFF;
   background-image: none;
}
#MasterPage1 {
   display: inline;
   height: 118px;
   left: 0px;
   top: 0px;
   visibility: visible;
   width: 320px;
}
#Layer1 {
   border-radius: 0px;
   display: block;
   height: 118px;
   margin: 0;
   visibility: visible;
   width: 320px;
}
#Layer1 {
   margin: 0;
}
#Layer1_Container {
   width: 320px;
}
#Layer1 {
   height: 118px;
   width: 100%;
}
#wb_Image1 {
   display: inline;
   height: 67px;
   left: 1px;
   margin: 0;
   padding: 0;
   top: 23px;
   visibility: visible;
   width: 110px;
}
#wb_Text1 {
   display: inline;
   height: 27px;
   left: 111px;
   top: 12px;
   visibility: visible;
   width: 209px;
}
#wb_Text1 {
   font-family: "Exo 2";
   font-size: 19px;
   font-weight: 400;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_Text2 {
   display: inline;
   height: 48px;
   left: 111px;
   top: 59px;
   visibility: visible;
   width: 201px;
}
#wb_Text2 {
   font-family: "Exo 2";
   font-size: 16px;
   font-weight: 400;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Button4 {
   display: inline;
   height: 28px;
   left: 12px;
   margin: 0;
   padding: 1px 6px 1px 6px;
   top: 90px;
   visibility: visible;
   width: 86px;
}
#Layer2 {
   background-color: #FBFBFB;
   background-image: none;
   background-image: none;
   display: inline-flex;
   height: 87px;
   margin: 0;
   visibility: visible;
   width: 320px;
}
#Layer2 {
   margin: 0;
}
#Layer2 {
   height: 87px;
   width: 100%;
}
#Layer2 {
   padding: 0;
}
#Layer3 {
   display: inline-block;
   height: 1581px;
   margin: 0;
   visibility: visible;
}
#Layer3 {
   margin: 0;
   width: 100%;
}
#Layer3 {
   height: 1581px;
   width: 100%;
}
#Layer3 {
   padding: 0;
}
#Article1 {
   display: block;
   visibility: visible;
}
#Article1 .blogcolumn {
   width: 100%;
}
#Article1 .visible-col1 {
   display: block;
}
#Article2 {
   display: block;
   visibility: visible;
}
#Article2 {
   font-family: "Exo 2";
   font-size: 15px;
}
#Article2 .blogdate {
   font-family: "Exo 2";
   font-size: 13px;
}
#Article2 .blogsubject {
   font-family: "Exo 2";
   font-size: 16px;
}
#Article2 .blogcomments {
   font-family: "Exo 2";
   font-size: 15px;
}
#Article2 .blogbutton {
   font-family: "Exo 2";
   font-size: 15px;
}
#Article2 .blogcolumn {
   width: 100%;
}
#Article2 .visible-col1 {
   display: block;
}
#Article3 {
   display: block;
   visibility: visible;
}
#Article3 {
   font-family: "Exo 2";
   font-size: 15px;
}
#Article3 .blogdate {
   font-family: "Exo 2";
   font-size: 13px;
}
#Article3 .blogsubject {
   font-family: "Exo 2";
   font-size: 16px;
}
#Article3 .blogcomments {
   font-family: "Exo 2";
   font-size: 15px;
}
#Article3 .blogbutton {
   font-family: "Exo 2";
   font-size: 15px;
}
#Article3 .blogcolumn {
   width: 100%;
}
#Article3 .visible-col1 {
   display: block;
}
#Banner3 {
   display: block;
   height: 79px;
   left: 0px;
   margin: 0;
   top: 118px;
   visibility: visible;
   width: 320px;
}
#Banner3 span {
   height: 27px;
   margin: 25px 0 25px 0;
}
#Article4 {
   display: block;
   visibility: visible;
}
#Article4 {
   font-family: "Exo 2";
   font-size: 15px;
}
#Article4 .blogdate {
   font-family: "Exo 2";
   font-size: 13px;
}
#Article4 .blogsubject {
   font-family: "Exo 2";
   font-size: 16px;
}
#Article4 .blogcomments {
   font-family: "Exo 2";
   font-size: 15px;
}
#Article4 .blogbutton {
   font-family: "Exo 2";
   font-size: 15px;
}
#Article4 .blogcolumn {
   width: 100%;
}
#Article4 .visible-col1 {
   display: block;
}
#Article5 {
   display: block;
   visibility: visible;
}
#Article5 {
   font-family: "Exo 2";
   font-size: 15px;
}
#Article5 .blogdate {
   font-family: "Exo 2";
   font-size: 13px;
}
#Article5 .blogsubject {
   font-family: "Exo 2";
   font-size: 16px;
}
#Article5 .blogcomments {
   font-family: "Exo 2";
   font-size: 15px;
}
#Article5 .blogbutton {
   font-family: "Exo 2";
   font-size: 15px;
}
#Article5 .blogcolumn {
   width: 100%;
}
#Article5 .visible-col1 {
   display: block;
}
}
.darktheme body {
   background-color: #000000;
}
.darktheme #Layer1,
.darktheme #Layer2,
.darktheme #Layer3 {
   filter: invert(100%);
}
