div#container {
   margin: 0 auto 0 auto;
   position: relative;
   text-align: left;
   width: 1200px;
}
body {
   background-color: #FFFFFF;
   color: #000000;
   font-family: "Exo 2";
   font-size: 13px;
   font-weight: 400;
   font-weight: 400;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
.visibility-hidden {
   visibility: hidden;
}
#Layer1 {
   background-image: linear-gradient(to top, #F6F8F9 0%, #E5EBEE 50%, #D7DEE3 51%, #F5F7F9 100%);
   border-radius: 12px;
   box-shadow: 2px 2px 11px #0F6FC6;
   margin: 0;
}
#wb_Image1 {
   vertical-align: top;
}
#Image1 {
   border: 0px solid #000000;
   border-radius: 0px;
   height: 100%;
   left: 0;
   margin: 0;
   padding: 0;
   top: 0;
   width: 100%;
}
#wb_Text1 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_Text1 {
   color: #77893E;
   font-family: "Exo 2";
   font-size: 19px;
   font-weight: normal;
}
#wb_Text1 div {
   text-align: left;
}
#wb_Text2 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_Text2 {
   color: #000000;
   font-family: "Exo 2";
   font-size: 19px;
   font-weight: normal;
}
#wb_Text2 div {
   text-align: left;
}
#Button4 {
   -webkit-appearance: none;
   background-image: linear-gradient(to top, #CCFFFF 0%, #0099FF 17%, #0099CC 32%, #0066CC 46%, #000080 50%, #008080 54%, #00CC99 67%, #00CCCC 84%, #00FFFF 100%);
   border: 1px solid #2E6DA4;
   border-radius: 4px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
   margin: 0;
   padding: 1px 6px 1px 6px;
   text-align: center;
}
}
#Button4:focus {
   outline: 0;
}
#wb_LayoutGrid3 {
   background-image: linear-gradient(to top, #C8E5F4 0%, #FFFFFF 100%);
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   clear: both;
   display: table;
   margin: 0;
   position: relative;
   table-layout: fixed;
   text-align: center;
   width: 100%;
}
#LayoutGrid3 {
   box-sizing: border-box;
   margin-left: auto;
   margin-right: auto;
   max-width: 976px;
   padding: 50px 15px 25px 15px;
}
#LayoutGrid3 > .row {
   margin-left: -15px;
   margin-right: -15px;
}
#LayoutGrid3 > .row > .col-1 {
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
}
#LayoutGrid3 > .row > .col-1 {
   float: left;
}
#LayoutGrid3 > .row > .col-1 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
   width: 100%;
}
#LayoutGrid3:before,
#LayoutGrid3:after,
#LayoutGrid3 .row:before,
#LayoutGrid3 .row:after {
   content: " ";
   display: table;
}
#LayoutGrid3:after,
#LayoutGrid3 .row:after {
   clear: both;
}
@media (max-width: 480px) {
#LayoutGrid3 > .row > .col-1 {
   float: none;
   width: 100%  !important;
}
}
#wb_Heading6 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
   padding: 10px 0 0 0;
   text-align: center;
   vertical-align: top;
}
#Heading6 {
   color: #000000;
   font-family: Arial;
   font-size: 19px;
   font-style: normal;
   font-weight: normal;
   margin: 0;
   text-align: center;
}
#wb_Heading7 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
   padding: 0 0 10px 0;
   text-align: center;
   vertical-align: top;
}
#Heading7 {
   color: #000000;
   font-family: Arial;
   font-size: 32px;
   font-style: normal;
   font-weight: bold;
   margin: 0;
   text-align: center;
   text-shadow: 0px 0px 15px rgba(39,125,203,0.50);
}
#Shape3 {
   background-color: #000000;
   background-image: none;
   border: 0px #FFFFFF solid;
   height: 3px;
   width: 112px;
}
#Shape3_text {
   align-items: center;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   height: 33.33%;
   justify-content: center;
   left: 0.89%;
   overflow: hidden;
   pointer-events: none;
   position: absolute;
   text-align: center;
   top: 33.33%;
   width: 98.21%;
   word-wrap: break-word;
}
#wb_LayoutGrid4 {
   background-color: #C8E5F4;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   clear: both;
   display: table;
   margin: 0;
   position: relative;
   table-layout: fixed;
   text-align: center;
   width: 100%;
}
#LayoutGrid4 {
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   margin-left: auto;
   margin-right: auto;
   max-width: 9760px;
   padding: 25px 0 25px 0;
}
#LayoutGrid4 > .col-1,
#LayoutGrid4 > .col-2,
#LayoutGrid4 > .col-3 {
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
}
#LayoutGrid4 > .col-1,
#LayoutGrid4 > .col-2,
#LayoutGrid4 > .col-3 {
   flex: 0 0 auto;
}
#LayoutGrid4 > .col-1 {
   align-content: center;
   align-items: center;
   align-self: stretch;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   display: flex;
   flex-basis: 100%;
   flex-wrap: wrap;
   justify-content: center;
   max-width: 100%;
   text-align: center;
}
#LayoutGrid4 > .col-2 {
   align-content: flex-start;
   align-items: flex-start;
   align-self: stretch;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   display: flex;
   flex-basis: 100%;
   flex-wrap: wrap;
   justify-content: center;
   max-width: 100%;
   text-align: center;
}
#LayoutGrid4 > .col-3 {
   align-content: flex-start;
   align-items: flex-start;
   align-self: stretch;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   display: flex;
   flex-basis: 100%;
   flex-wrap: wrap;
   justify-content: center;
   max-width: 100%;
   text-align: center;
}
@media (max-width: 480px) {
#LayoutGrid4 > .col-1,
#LayoutGrid4 > .col-2,
#LayoutGrid4 > .col-3 {
   flex-basis: 100%  !important;
   max-width: 100%  !important;
}
}
#CardContainer1 {
   align-content: flex-start;
   align-items: stretch;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   font-size: 0;
   justify-content: flex-start;
   margin: 0;
   padding: 10px 10px 10px 10px;
   position: relative;
}
@media all and (max-width:480px) {
#CardContainer1 {
   flex-direction: column;
   flex-wrap: nowrap;
}
}
#wb_Card3,
.Card3 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 0px;
   box-shadow: 1px 1px 16px rgba(15,111,198,0.20);
   box-sizing: border-box;
   margin: 0;
   text-align: left;
}
#Card3-card-body {
   font-size: 0;
   padding: 0;
}
.fade {
   opacity: 0;
   transition: opacity .15s linear;
}
.fade.show {
   opacity: 1;
}
.stretched-link::after {
   background-color: rgba(0,0,0,0);
   bottom: 0;
   content: "";
   left: 0;
   pointer-events: auto;
   position: absolute;
   right: 0;
   top: 0;
   z-index: 1;
}
#Card3-card-item0 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #BABABA;
   border-radius: 0px;
   box-sizing: border-box;
   color: #1ABC9C;
   display: inline-block;
   font-family: Arial;
   font-size: 43px;
   font-style: normal;
   font-weight: normal;
   height: 43px;
   margin: 20px 0 0 20px;
   padding: 0;
}
#Card3-card-item0 a {
   color: inherit;
   text-decoration: none;
}
#Card3-card-item0 i {
   font-size: 43px;
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   width: 43px;
}
#Card3-card-item1 {
   box-sizing: border-box;
   color: #17406D;
   font-family: Arial;
   font-size: 24px;
   font-style: normal;
   font-weight: normal;
   margin: -40px 0 0 80px;
   padding: 12px 20px 12px 20px;
}
#Card3-card-item2 {
   box-sizing: border-box;
   color: #17406D;
   font-family: Arial;
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
   margin: 20px 20px 30px 80px;
   padding: 12px 20px 12px 20px;
}
.Card3 {
   display: block;
   height: 205px;
   left: 0;
   max-width: 383px;
   position: absolute;
   top: 0;
   width: 383px;
   z-index: 9999;
}
.Card3.popover .popover-arrow {
   display: block;
   height: 0.5rem;
   margin: 0 0.5rem;
   position: absolute;
   width: 1rem;
}
.Card3.popover .popover-arrow::before,
.Card3.popover .popover-arrow::after {
   border-color: transparent;
   border-style: solid;
   content: "";
   display: block;
   position: absolute;
}
.Card3.bs-popover-end,
.Card3.bs-popover-auto[x-placement^="right"] {
   margin-left: 0.5rem;
}
.Card3.bs-popover-end > .popover-arrow,
.Card3.bs-popover-auto[x-placement^="right"] > .popover-arrow {
   height: 1rem;
   left: calc((0.5rem + 1px) * -1);
   margin: 0.5rem 0;
   width: 0.5rem;
}
.Card3.bs-popover-end > .popover-arrow::before,
.Card3.bs-popover-auto[x-placement^="right"] > .popover-arrow::before {
   border-right-color: #DEDEDE;
   border-width: 0.5rem 0.5rem 0.5rem 0;
   left: 0;
}
.Card3.bs-popover-end > .popover-arrow::after,
.Card3.bs-popover-auto[x-placement^="right"] > .popover-arrow::after {
   border-right-color: #FFFFFF;
   border-width: 0.5rem 0.5rem 0.5rem 0;
   left: 1px;
}
#wb_Card4 {
   align-self: auto;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 0px;
   box-shadow: 1px 1px 16px rgba(15,111,198,0.20);
   box-sizing: border-box;
   display: flex;
   flex-basis: 0%;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   margin: 0;
   position: relative;
   text-align: left;
}
#Card4-card-body {
   flex: 1 1 auto;
   font-size: 0;
   padding: 0;
}
.stretched-link::after {
   background-color: rgba(0,0,0,0);
   bottom: 0;
   content: "";
   left: 0;
   pointer-events: auto;
   position: absolute;
   right: 0;
   top: 0;
   z-index: 1;
}
#Card4-card-item0 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #BABABA;
   border-radius: 0px;
   box-sizing: border-box;
   color: #1ABC9C;
   display: inline-block;
   font-family: Arial;
   font-size: 43px;
   font-style: normal;
   font-weight: normal;
   height: 43px;
   margin: 20px 0 0 20px;
   padding: 0;
}
#Card4-card-item0 a {
   color: inherit;
   text-decoration: none;
}
#Card4-card-item0 i {
   font-size: 43px;
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   width: 43px;
}
#Card4-card-item1 {
   box-sizing: border-box;
   color: #17406D;
   font-family: Arial;
   font-size: 24px;
   font-style: normal;
   font-weight: normal;
   margin: -40px 0 0 80px;
   padding: 12px 20px 12px 20px;
}
#Card4-card-item2 {
   box-sizing: border-box;
   color: #17406D;
   font-family: Arial;
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
   margin: 20px 20px 30px 80px;
   padding: 12px 20px 12px 20px;
}
#wb_Card5 {
   align-self: auto;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 0px;
   box-shadow: 1px 1px 17px rgba(15,111,198,0.20);
   box-sizing: border-box;
   display: flex;
   flex-basis: 0%;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   margin: 0;
   position: relative;
   text-align: left;
}
#Card5-card-body {
   flex: 1 1 auto;
   font-size: 0;
   padding: 0;
}
.stretched-link::after {
   background-color: rgba(0,0,0,0);
   bottom: 0;
   content: "";
   left: 0;
   pointer-events: auto;
   position: absolute;
   right: 0;
   top: 0;
   z-index: 1;
}
#Card5-card-item0 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #BABABA;
   border-radius: 0px;
   box-sizing: border-box;
   color: #1ABC9C;
   display: inline-block;
   font-family: Arial;
   font-size: 43px;
   font-style: normal;
   font-weight: normal;
   height: 43px;
   margin: 20px 0 0 20px;
   padding: 0;
}
#Card5-card-item0 a {
   color: inherit;
   text-decoration: none;
}
#Card5-card-item0 i {
   font-size: 43px;
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   width: 43px;
}
#Card5-card-item1 {
   box-sizing: border-box;
   color: #17406D;
   font-family: Arial;
   font-size: 24px;
   font-style: normal;
   font-weight: normal;
   margin: -40px 0 0 80px;
   padding: 12px 20px 12px 20px;
}
#Card5-card-item2 {
   box-sizing: border-box;
   color: #17406D;
   font-family: Arial;
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
   margin: 20px 20px 30px 80px;
   padding: 12px 20px 12px 20px;
}
#Button4 {
   height: 24px;
   left: 1093px;
   position: absolute;
   top: 11px;
   width: 96px;
   z-index: 3;
}
#wb_Image1 {
   height: 74px;
   left: 0px;
   position: absolute;
   top: 12px;
   width: 122px;
   z-index: 1;
}
#wb_Shape3 {
   display: inline-block;
   height: 3px;
   position: relative;
   width: 112px;
   z-index: 6;
}
#wb_Card3 {
   display: flex;
   z-index: 8;
}
#wb_Heading6 {
   display: inline-block;
   width: 100%;
   z-index: 7;
}
#wb_Heading7 {
   display: inline-block;
   width: 100%;
   z-index: 5;
}
#wb_Text1 {
   height: 27px;
   left: 142px;
   position: absolute;
   top: 0px;
   width: 249px;
   z-index: 0;
}
#wb_Text2 {
   height: 27px;
   left: 142px;
   position: absolute;
   top: 59px;
   width: 328px;
   z-index: 2;
}
#Layer1 {
   clear: left;
   display: block;
   float: left;
   height: 98px;
   position: relative;
   text-align: center;
   width: 100%;
   z-index: 4;
}
#wb_Card5 {
   display: flex;
   z-index: 10;
}
#Layer1_Container {
   margin-left: auto;
   margin-right: auto;
   position: relative;
   text-align: left;
   width: 1200px;
}
#wb_Card4 {
   display: flex;
   z-index: 9;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
div#container {
   width: 768px;
}
body {
   background-color: #FFFFFF;
   background-image: none;
}
#MasterPage1 {
   display: inline;
   height: 100px;
   left: 0px;
   top: 0px;
   visibility: visible;
   width: 768px;
}
#Layer1 {
   border-radius: 0px;
   display: block;
   height: 100px;
   margin: 0;
   visibility: visible;
   width: 768px;
}
#Layer1 {
   margin: 0;
}
#Layer1_Container {
   width: 768px;
}
#Layer1 {
   height: 100px;
   width: 100%;
}
#wb_Image1 {
   display: inline;
   height: 74px;
   left: 0px;
   margin: 0;
   padding: 0;
   top: 12px;
   visibility: visible;
   width: 122px;
}
#wb_Text1 {
   display: inline;
   height: 27px;
   left: 142px;
   top: 12px;
   visibility: visible;
   width: 249px;
}
#wb_Text1 {
   font-family: "Exo 2";
   font-size: 19px;
   font-weight: 400;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_Text2 {
   display: inline;
   height: 27px;
   left: 142px;
   top: 59px;
   visibility: visible;
   width: 327px;
}
#wb_Text2 {
   font-family: "Exo 2";
   font-size: 19px;
   font-weight: 400;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Button4 {
   display: inline;
   height: 24px;
   left: 655px;
   margin: 0;
   padding: 1px 6px 1px 6px;
   top: 13px;
   visibility: visible;
   width: 96px;
}
#wb_LayoutGrid3 {
   display: table;
   visibility: visible;
}
#wb_LayoutGrid3 {
   height: auto;
   margin-bottom: 0px;
   margin-top: 0px;
}
#LayoutGrid3 {
   height: auto;
   padding: 50px 15px 25px 15px;
}
#LayoutGrid3 .row {
   margin-left: -15px;
   margin-right: -15px;
}
#wb_Heading6 {
   display: block;
   margin: 0;
   padding: 10px 0 0 0;
   visibility: visible;
   width: 100%;
}
#wb_Heading7 {
   display: block;
   margin: 0;
   padding: 0 0 10px 0;
   visibility: visible;
   width: 100%;
}
#wb_Shape3 {
   display: inline-block;
   height: 3px;
   margin: 0;
   visibility: visible;
   width: 112px;
}
#Shape3 {
   height: 3px;
   width: 112px;
}
#wb_LayoutGrid4 {
   display: table;
   visibility: visible;
}
#wb_LayoutGrid4 {
   height: auto;
   margin-bottom: 0px;
   margin-top: 0px;
}
#LayoutGrid4 {
   height: auto;
   padding: 25px 0 25px 0;
}
#LayoutGrid4 > .col-1,
#LayoutGrid4 > .col-2,
#LayoutGrid4 > .col-3 {
   padding-left: 15px;
   padding-right: 15px;
}
#LayoutGrid4 > .col-1 {
   align-content: center;
   align-items: center;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   display: flex;
   flex-basis: 100%;
   justify-content: flex-start;
   max-width: 100%;
   text-align: left;
}
#LayoutGrid4 > .col-2 {
   align-content: flex-start;
   align-items: flex-start;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   display: block;
   flex-basis: 100%;
   justify-content: center;
   max-width: 100%;
   text-align: center;
}
#LayoutGrid4 > .col-3 {
   align-content: flex-start;
   align-items: flex-start;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   display: block;
   flex-basis: 100%;
   justify-content: center;
   max-width: 100%;
   text-align: center;
}
#CardContainer1 {
   display: flex;
   visibility: visible;
}
#wb_Card3 {
   align-self: auto;
   display: flex;
   flex-basis: 0%;
   flex-grow: 1;
   flex-shrink: 1;
   height: auto;
   margin: 4px 4px 4px 4px;
   visibility: visible;
   width: auto;
}
#Card3-card-item0 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #BABABA;
   border-radius: 0px;
   box-sizing: border-box;
   color: #1ABC9C;
   display: inline-block;
   font-family: Arial;
   font-size: 43px;
   font-style: normal;
   font-weight: normal;
   height: 43px;
   margin: 20px 0 0 20px;
   padding: 0;
}
#Card3-card-item0 a {
   color: inherit;
   text-decoration: none;
}
#Card3-card-item0 i {
   font-size: 43px;
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   width: 43px;
}
#Card3-card-item1 {
   box-sizing: border-box;
   color: #17406D;
   font-family: Arial;
   font-size: 24px;
   font-style: normal;
   font-weight: normal;
   margin: -40px 0 0 80px;
   padding: 12px 20px 12px 20px;
}
#Card3-card-item2 {
   box-sizing: border-box;
   color: #17406D;
   font-family: Arial;
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
   margin: 20px 20px 30px 80px;
   padding: 12px 20px 12px 20px;
}
.Card3 {
   height: 205px;
   max-width: 212px;
   width: 212px;
}
#wb_Card3 {
   text-align: left;
}
#wb_Card4 {
   align-self: auto;
   display: flex;
   flex-basis: 0%;
   flex-grow: 1;
   flex-shrink: 1;
   height: auto;
   margin: 4px 4px 4px 4px;
   visibility: visible;
   width: auto;
}
#Card4-card-item0 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #BABABA;
   border-radius: 0px;
   box-sizing: border-box;
   color: #1ABC9C;
   display: inline-block;
   font-family: Arial;
   font-size: 43px;
   font-style: normal;
   font-weight: normal;
   height: 43px;
   margin: 20px 0 0 20px;
   padding: 0;
}
#Card4-card-item0 a {
   color: inherit;
   text-decoration: none;
}
#Card4-card-item0 i {
   font-size: 43px;
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   width: 43px;
}
#Card4-card-item1 {
   box-sizing: border-box;
   color: #17406D;
   font-family: Arial;
   font-size: 24px;
   font-style: normal;
   font-weight: normal;
   margin: -40px 0 0 80px;
   padding: 12px 20px 12px 20px;
}
#Card4-card-item2 {
   box-sizing: border-box;
   color: #17406D;
   font-family: Arial;
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
   margin: 20px 20px 30px 80px;
   padding: 12px 20px 12px 20px;
}
#wb_Card4 {
   text-align: left;
}
#wb_Card5 {
   align-self: auto;
   display: flex;
   flex-basis: 0%;
   flex-grow: 1;
   flex-shrink: 1;
   height: auto;
   margin: 4px 4px 4px 4px;
   visibility: visible;
   width: auto;
}
#Card5-card-item0 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #BABABA;
   border-radius: 0px;
   box-sizing: border-box;
   color: #1ABC9C;
   display: inline-block;
   font-family: Arial;
   font-size: 43px;
   font-style: normal;
   font-weight: normal;
   height: 43px;
   margin: 20px 0 0 20px;
   padding: 0;
}
#Card5-card-item0 a {
   color: inherit;
   text-decoration: none;
}
#Card5-card-item0 i {
   font-size: 43px;
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   width: 43px;
}
#Card5-card-item1 {
   box-sizing: border-box;
   color: #17406D;
   font-family: Arial;
   font-size: 24px;
   font-style: normal;
   font-weight: normal;
   margin: -40px 0 0 80px;
   padding: 12px 20px 12px 20px;
}
#Card5-card-item2 {
   box-sizing: border-box;
   color: #17406D;
   font-family: Arial;
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
   margin: 20px 20px 30px 80px;
   padding: 12px 20px 12px 20px;
}
#wb_Card5 {
   text-align: left;
}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
div#container {
   width: 480px;
}
body {
   background-color: #FFFFFF;
   background-image: none;
}
#MasterPage1 {
   display: inline;
   height: 98px;
   left: 0px;
   top: 0px;
   visibility: visible;
   width: 480px;
}
#Layer1 {
   border-radius: 0px;
   display: block;
   height: 98px;
   margin: 0;
   visibility: visible;
   width: 480px;
}
#Layer1 {
   margin: 0;
}
#Layer1_Container {
   width: 480px;
}
#Layer1 {
   height: 98px;
   width: 100%;
}
#wb_Image1 {
   display: inline;
   height: 74px;
   left: 0px;
   margin: 0;
   padding: 0;
   top: 12px;
   visibility: visible;
   width: 122px;
}
#wb_Text1 {
   display: inline;
   height: 27px;
   left: 142px;
   top: 12px;
   visibility: visible;
   width: 249px;
}
#wb_Text1 {
   font-family: "Exo 2";
   font-size: 19px;
   font-weight: 400;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_Text2 {
   display: inline;
   height: 27px;
   left: 142px;
   top: 59px;
   visibility: visible;
   width: 328px;
}
#wb_Text2 {
   font-family: "Exo 2";
   font-size: 19px;
   font-weight: 400;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Button4 {
   display: inline;
   height: 24px;
   left: 374px;
   margin: 0;
   padding: 1px 6px 1px 6px;
   top: 15px;
   visibility: visible;
   width: 96px;
}
#wb_LayoutGrid3 {
   display: table;
   visibility: visible;
}
#wb_LayoutGrid3 {
   height: auto;
   margin-bottom: 0px;
   margin-top: 0px;
}
#LayoutGrid3 {
   height: auto;
   padding: 50px 15px 25px 15px;
}
#LayoutGrid3 .row {
   margin-left: -15px;
   margin-right: -15px;
}
#wb_Heading6 {
   display: block;
   margin: 0;
   padding: 10px 0 0 0;
   visibility: visible;
   width: 100%;
}
#wb_Heading7 {
   display: block;
   margin: 0;
   padding: 0 0 10px 0;
   visibility: visible;
   width: 100%;
}
#wb_Shape3 {
   display: inline-block;
   height: 3px;
   margin: 0;
   visibility: visible;
   width: 112px;
}
#Shape3 {
   height: 3px;
   width: 112px;
}
#wb_LayoutGrid4 {
   display: table;
   visibility: visible;
}
#wb_LayoutGrid4 {
   height: auto;
   margin-bottom: 0px;
   margin-top: 0px;
}
#LayoutGrid4 {
   height: auto;
   padding: 25px 0 25px 0;
}
#LayoutGrid4 > .col-1,
#LayoutGrid4 > .col-2,
#LayoutGrid4 > .col-3 {
   padding-left: 15px;
   padding-right: 15px;
}
#LayoutGrid4 > .col-1 {
   align-content: flex-start;
   align-items: flex-start;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   display: flex;
   flex-basis: 100%;
   justify-content: flex-start;
   max-width: 100%;
   text-align: left;
}
#LayoutGrid4 > .col-2 {
   align-content: flex-start;
   align-items: flex-start;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   display: flex;
   flex-basis: 100%;
   justify-content: center;
   max-width: 100%;
   text-align: center;
}
#LayoutGrid4 > .col-3 {
   align-content: flex-start;
   align-items: flex-start;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   display: flex;
   flex-basis: 100%;
   justify-content: center;
   max-width: 100%;
   text-align: center;
}
#CardContainer1 {
   display: flex;
   visibility: visible;
}
#wb_Card3 {
   align-self: auto;
   display: flex;
   flex-basis: 0%;
   flex-grow: 1;
   flex-shrink: 1;
   height: auto;
   margin: 0;
   visibility: visible;
   width: auto;
}
#Card3-card-item0 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #BABABA;
   border-radius: 0px;
   box-sizing: border-box;
   color: #1ABC9C;
   display: inline-block;
   font-family: Arial;
   font-size: 43px;
   font-style: normal;
   font-weight: normal;
   height: 43px;
   margin: 20px 0 0 20px;
   padding: 0;
}
#Card3-card-item0 a {
   color: inherit;
   text-decoration: none;
}
#Card3-card-item0 i {
   font-size: 43px;
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   width: 43px;
}
#Card3-card-item1 {
   box-sizing: border-box;
   color: #17406D;
   font-family: Arial;
   font-size: 24px;
   font-style: normal;
   font-weight: normal;
   margin: -40px 0 0 80px;
   padding: 12px 20px 12px 20px;
}
#Card3-card-item2 {
   box-sizing: border-box;
   color: #17406D;
   font-family: Arial;
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
   margin: 20px 20px 30px 80px;
   padding: 12px 20px 12px 20px;
}
.Card3 {
   height: 205px;
   max-width: 430px;
   width: 430px;
}
#wb_Card3 {
   text-align: left;
}
#wb_Card4 {
   align-self: auto;
   display: flex;
   flex-basis: 0%;
   flex-grow: 1;
   flex-shrink: 1;
   height: auto;
   margin: 0;
   visibility: visible;
   width: auto;
}
#Card4-card-item0 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #BABABA;
   border-radius: 0px;
   box-sizing: border-box;
   color: #1ABC9C;
   display: inline-block;
   font-family: Arial;
   font-size: 43px;
   font-style: normal;
   font-weight: normal;
   height: 43px;
   margin: 20px 0 0 20px;
   padding: 0;
}
#Card4-card-item0 a {
   color: inherit;
   text-decoration: none;
}
#Card4-card-item0 i {
   font-size: 43px;
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   width: 43px;
}
#Card4-card-item1 {
   box-sizing: border-box;
   color: #17406D;
   font-family: Arial;
   font-size: 24px;
   font-style: normal;
   font-weight: normal;
   margin: -40px 0 0 80px;
   padding: 12px 20px 12px 20px;
}
#Card4-card-item2 {
   box-sizing: border-box;
   color: #17406D;
   font-family: Arial;
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
   margin: 20px 20px 30px 80px;
   padding: 12px 20px 12px 20px;
}
#wb_Card4 {
   text-align: left;
}
#wb_Card5 {
   align-self: auto;
   display: flex;
   flex-basis: 0%;
   flex-grow: 1;
   flex-shrink: 1;
   height: auto;
   margin: 0;
   visibility: visible;
   width: auto;
}
#Card5-card-item0 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #BABABA;
   border-radius: 0px;
   box-sizing: border-box;
   color: #1ABC9C;
   display: inline-block;
   font-family: Arial;
   font-size: 43px;
   font-style: normal;
   font-weight: normal;
   height: 43px;
   margin: 20px 0 0 20px;
   padding: 0;
}
#Card5-card-item0 a {
   color: inherit;
   text-decoration: none;
}
#Card5-card-item0 i {
   font-size: 43px;
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   width: 43px;
}
#Card5-card-item1 {
   box-sizing: border-box;
   color: #17406D;
   font-family: Arial;
   font-size: 24px;
   font-style: normal;
   font-weight: normal;
   margin: -40px 0 0 80px;
   padding: 12px 20px 12px 20px;
}
#Card5-card-item2 {
   box-sizing: border-box;
   color: #17406D;
   font-family: Arial;
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
   margin: 20px 20px 30px 80px;
   padding: 12px 20px 12px 20px;
}
#wb_Card5 {
   text-align: left;
}
}
@media only screen and (max-width: 479px) {
div#container {
   width: 320px;
}
body {
   background-color: #FFFFFF;
   background-image: none;
}
#MasterPage1 {
   display: inline;
   height: 118px;
   left: 0px;
   top: 0px;
   visibility: visible;
   width: 320px;
}
#Layer1 {
   border-radius: 0px;
   display: block;
   height: 118px;
   margin: 0;
   visibility: visible;
   width: 320px;
}
#Layer1 {
   margin: 0;
}
#Layer1_Container {
   width: 320px;
}
#Layer1 {
   height: 118px;
   width: 100%;
}
#wb_Image1 {
   display: inline;
   height: 67px;
   left: 1px;
   margin: 0;
   padding: 0;
   top: 23px;
   visibility: visible;
   width: 110px;
}
#wb_Text1 {
   display: inline;
   height: 27px;
   left: 111px;
   top: 12px;
   visibility: visible;
   width: 209px;
}
#wb_Text1 {
   font-family: "Exo 2";
   font-size: 19px;
   font-weight: 400;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_Text2 {
   display: inline;
   height: 48px;
   left: 111px;
   top: 59px;
   visibility: visible;
   width: 201px;
}
#wb_Text2 {
   font-family: "Exo 2";
   font-size: 16px;
   font-weight: 400;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Button4 {
   display: inline;
   height: 28px;
   left: 12px;
   margin: 0;
   padding: 1px 6px 1px 6px;
   top: 90px;
   visibility: visible;
   width: 86px;
}
#wb_LayoutGrid3 {
   display: table;
   visibility: visible;
}
#wb_LayoutGrid3 {
   height: auto;
   margin-bottom: 0px;
   margin-top: 0px;
}
#LayoutGrid3 {
   height: auto;
   padding: 50px 15px 25px 15px;
}
#LayoutGrid3 .row {
   margin-left: -15px;
   margin-right: -15px;
}
#wb_Heading6 {
   display: block;
   margin: 0;
   padding: 10px 0 0 0;
   visibility: visible;
   width: 100%;
}
#wb_Heading7 {
   display: block;
   margin: 0;
   padding: 0 0 10px 0;
   visibility: visible;
   width: 100%;
}
#wb_Shape3 {
   display: inline-block;
   height: 3px;
   margin: 0;
   visibility: visible;
   width: 112px;
}
#Shape3 {
   height: 3px;
   width: 112px;
}
#wb_LayoutGrid4 {
   display: table;
   visibility: visible;
}
#wb_LayoutGrid4 {
   height: auto;
   margin-bottom: 0px;
   margin-top: 0px;
}
#LayoutGrid4 {
   height: auto;
   padding: 25px 0 25px 0;
}
#LayoutGrid4 > .col-1,
#LayoutGrid4 > .col-2,
#LayoutGrid4 > .col-3 {
   padding-left: 15px;
   padding-right: 15px;
}
#LayoutGrid4 > .col-1 {
   align-content: flex-start;
   align-items: flex-start;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   display: flex;
   flex-basis: 100%;
   justify-content: flex-start;
   max-width: 100%;
   text-align: left;
}
#LayoutGrid4 > .col-2 {
   align-content: flex-start;
   align-items: flex-start;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   display: flex;
   flex-basis: 100%;
   justify-content: center;
   max-width: 100%;
   text-align: center;
}
#LayoutGrid4 > .col-3 {
   align-content: flex-start;
   align-items: flex-start;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   display: flex;
   flex-basis: 100%;
   justify-content: center;
   max-width: 100%;
   text-align: center;
}
#CardContainer1 {
   display: flex;
   visibility: visible;
}
#wb_Card3 {
   align-self: auto;
   display: flex;
   flex-basis: 0%;
   flex-grow: 1;
   flex-shrink: 1;
   height: auto;
   margin: 0;
   visibility: visible;
   width: auto;
}
#Card3-card-item0 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #BABABA;
   border-radius: 0px;
   box-sizing: border-box;
   color: #1ABC9C;
   display: inline-block;
   font-family: Arial;
   font-size: 43px;
   font-style: normal;
   font-weight: normal;
   height: 43px;
   margin: 20px 0 0 20px;
   padding: 0;
}
#Card3-card-item0 a {
   color: inherit;
   text-decoration: none;
}
#Card3-card-item0 i {
   font-size: 43px;
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   width: 43px;
}
#Card3-card-item1 {
   box-sizing: border-box;
   color: #17406D;
   font-family: Arial;
   font-size: 24px;
   font-style: normal;
   font-weight: normal;
   margin: -40px 0 0 80px;
   padding: 12px 20px 12px 20px;
}
#Card3-card-item2 {
   box-sizing: border-box;
   color: #17406D;
   font-family: Arial;
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
   margin: 20px 20px 30px 80px;
   padding: 12px 20px 12px 20px;
}
.Card3 {
   height: 205px;
   max-width: 270px;
   width: 270px;
}
#wb_Card3 {
   text-align: left;
}
#wb_Card4 {
   align-self: auto;
   display: flex;
   flex-basis: 0%;
   flex-grow: 1;
   flex-shrink: 1;
   height: auto;
   margin: 0;
   visibility: visible;
   width: auto;
}
#Card4-card-item0 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #BABABA;
   border-radius: 0px;
   box-sizing: border-box;
   color: #1ABC9C;
   display: inline-block;
   font-family: Arial;
   font-size: 43px;
   font-style: normal;
   font-weight: normal;
   height: 43px;
   margin: 20px 0 0 20px;
   padding: 0;
}
#Card4-card-item0 a {
   color: inherit;
   text-decoration: none;
}
#Card4-card-item0 i {
   font-size: 43px;
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   width: 43px;
}
#Card4-card-item1 {
   box-sizing: border-box;
   color: #17406D;
   font-family: Arial;
   font-size: 24px;
   font-style: normal;
   font-weight: normal;
   margin: -40px 0 0 80px;
   padding: 12px 20px 12px 20px;
}
#Card4-card-item2 {
   box-sizing: border-box;
   color: #17406D;
   font-family: Arial;
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
   margin: 20px 20px 30px 80px;
   padding: 12px 20px 12px 20px;
}
#wb_Card4 {
   text-align: left;
}
#wb_Card5 {
   align-self: auto;
   display: flex;
   flex-basis: 0%;
   flex-grow: 1;
   flex-shrink: 1;
   height: auto;
   margin: 0;
   visibility: visible;
   width: auto;
}
#Card5-card-item0 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #BABABA;
   border-radius: 0px;
   box-sizing: border-box;
   color: #1ABC9C;
   display: inline-block;
   font-family: Arial;
   font-size: 43px;
   font-style: normal;
   font-weight: normal;
   height: 43px;
   margin: 20px 0 0 20px;
   padding: 0;
}
#Card5-card-item0 a {
   color: inherit;
   text-decoration: none;
}
#Card5-card-item0 i {
   font-size: 43px;
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   width: 43px;
}
#Card5-card-item1 {
   box-sizing: border-box;
   color: #17406D;
   font-family: Arial;
   font-size: 24px;
   font-style: normal;
   font-weight: normal;
   margin: -40px 0 0 80px;
   padding: 12px 20px 12px 20px;
}
#Card5-card-item2 {
   box-sizing: border-box;
   color: #17406D;
   font-family: Arial;
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
   margin: 20px 20px 30px 80px;
   padding: 12px 20px 12px 20px;
}
#wb_Card5 {
   text-align: left;
}
}
.darktheme body {
   background-color: #000000;
}
.darktheme #Layer1,
.darktheme #wb_LayoutGrid3,
.darktheme #wb_LayoutGrid4 {
   filter: invert(100%);
}
