div#container
{
   width: 1200px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: "Exo 2";
   font-weight: 400;
   font-weight: 400;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
.visibility-hidden
{
   visibility: hidden;
}
#Layer1
{
   background-image: linear-gradient(to top, #F6F8F9 0%, #E5EBEE 50%, #D7DEE3 51%, #F5F7F9 100%);
   border-radius: 12px;
   box-shadow: 2px 2px 11px #0F6FC6;
   margin: 0;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1
{
   color: #77893E;
   font-family: "Exo 2";
   font-weight: normal;
   font-size: 19px;
}
#wb_Text1 div
{
   text-align: left;
}
#Button4
{
   border: 1px solid #2E6DA4;
   border-radius: 4px;
   background-image: linear-gradient(to top, #CCFFFF 0%, #0099FF 17%, #0099CC 32%, #0066CC 46%, #000080 50%, #008080 54%, #00CC99 67%, #00CCCC 84%, #00FFFF 100%);
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
}
#Button4:focus
{
   outline: 0;
}
#wb_LayoutGrid3
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-image: linear-gradient(to top, #C8E5F4 0%, #FFFFFF 100%);
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid3
{
   box-sizing: border-box;
   padding: 50px 15px 25px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 976px;
}
#LayoutGrid3 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid3 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid3 > .row > .col-1
{
   float: left;
}
#LayoutGrid3 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid3:before,
#LayoutGrid3:after,
#LayoutGrid3 .row:before,
#LayoutGrid3 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid3:after,
#LayoutGrid3 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid3 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_Heading6
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 10px 0 0 0;
   text-align: center;
}
#Heading6
{
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
   margin: 0;
   text-align: center;
}
#wb_Heading7
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0 0 10px 0;
   text-align: center;
}
#Heading7
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: center;
   text-shadow: 0px 0px 15px rgba(39,125,203,0.50);
}
#Shape3
{
   width: 112px;
   height: 3px;
   background-color: #000000;
   background-image: none;
   border: 0px #FFFFFF solid;
}
#Shape3_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 0.89%;
   top: 33.33%;
   width: 98.21%;
   height: 33.33%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#wb_LayoutGrid4
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #C8E5F4;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid4
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 18px 0 18px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 9760px;
}
#LayoutGrid4 > .col-1, #LayoutGrid4 > .col-2, #LayoutGrid4 > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid4 > .col-1, #LayoutGrid4 > .col-2, #LayoutGrid4 > .col-3
{
   flex: 0 0 auto;
}
#LayoutGrid4 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#LayoutGrid4 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
}
#LayoutGrid4 > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
}
@media (max-width: 480px)
{
#LayoutGrid4 > .col-1, #LayoutGrid4 > .col-2, #LayoutGrid4 > .col-3
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#CardContainer1
{
   display: flex;
   position: relative;
   padding: 10px 10px 10px 10px;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-items: stretch;
   align-content: flex-start;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   font-size: 0;
}
@media all and (max-width:768px) 
{
#CardContainer1
{
   flex-direction: column;
   flex-wrap: nowrap;
}
}
#wb_Card3, .Card3
{
   box-sizing: border-box;
   margin: 5px 5px 5px 5px;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 12px;
   box-shadow: 1px 1px 16px rgba(15,111,198,0.20);
   text-align: left;
}
#Card3-card-body
{
   padding: 0;
   font-size: 0;
}
.fade
{
   opacity: 0;
   transition: opacity .15s linear;
}
.fade.show
{
   opacity: 1;
}
.stretched-link::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
   background-color: rgba(0,0,0,0);
}
#Card3-card-item0
{
   display: inline-block;
   height: 43px;
   box-sizing: border-box;
   border-radius: 12px 12px 0 0 !important;
   margin: 20px 0 0 20px;
   padding: 0;
   border: 0px solid #BABABA;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #1ABC9C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 43px;
}
#Card3-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#Card3-card-item0 .svg-icon
{
   fill: currentColor;
   width: 43px;
   height: 43px;
   overflow: visible;
   margin-right: 0px;
}
#Card3-card-item1
{
   box-sizing: border-box;
   margin: -40px 0 0 80px;
   padding: 12px 20px 12px 20px;
   color: #17406D;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
}
#Card3-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 30px 80px;
   padding: 12px 20px 12px 20px;
   color: #17406D;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
 .Card3
{
   position: absolute;
   top: 0;
   left: 0;
   z-index: 9999;
   display: block;
   max-width: 383px;
   width: 383px;
   height: 215px;
}
.Card3.popover .popover-arrow
{
   position: absolute;
   display: block;
   width: 1rem;
   height: 0.5rem;
   margin: 0 0.5rem;
}
.Card3.popover .popover-arrow::before, .Card3.popover .popover-arrow::after
{
   position: absolute;
   display: block;
   content: "";
   border-color: transparent;
   border-style: solid;
}
.Card3.bs-popover-end, .Card3.bs-popover-auto[x-placement^="right"]
{
   margin-left: 0.5rem;
}
.Card3.bs-popover-end > .popover-arrow, .Card3.bs-popover-auto[x-placement^="right"] > .popover-arrow 
{
   left: calc((0.5rem + 1px) * -1);
   width: 0.5rem;
   height: 1rem;
   margin: 0.5rem 0;
}
.Card3.bs-popover-end > .popover-arrow::before, .Card3.bs-popover-auto[x-placement^="right"] > .popover-arrow::before
{
   left: 0;
   border-width: 0.5rem 0.5rem 0.5rem 0;
   border-right-color: #DEDEDE;
}
.Card3.bs-popover-end > .popover-arrow::after, .Card3.bs-popover-auto[x-placement^="right"] > .popover-arrow::after
{
   left: 1px;
   border-width: 0.5rem 0.5rem 0.5rem 0;
   border-right-color: #FFFFFF;
}
#wb_Card4
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
   box-sizing: border-box;
   margin: 5px 5px 5px 5px;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 12px;
   box-shadow: 1px 1px 16px rgba(15,111,198,0.20);
   text-align: left;
}
#Card4-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
.stretched-link::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
   background-color: rgba(0,0,0,0);
}
#Card4-card-item0
{
   display: inline-block;
   height: 43px;
   box-sizing: border-box;
   border-radius: 12px 12px 0 0 !important;
   margin: 20px 0 0 20px;
   padding: 0;
   border: 0px solid #BABABA;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #1ABC9C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 43px;
}
#Card4-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#Card4-card-item0 .svg-icon
{
   fill: currentColor;
   width: 43px;
   height: 43px;
   overflow: visible;
   margin-right: 0px;
}
#Card4-card-item1
{
   box-sizing: border-box;
   margin: -40px 0 0 80px;
   padding: 12px 20px 12px 20px;
   color: #17406D;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
}
#Card4-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 30px 80px;
   padding: 12px 20px 12px 20px;
   color: #17406D;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_Card5
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
   box-sizing: border-box;
   margin: 5px 5px 5px 5px;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 12px;
   box-shadow: 1px 1px 17px rgba(15,111,198,0.20);
   text-align: left;
}
#Card5-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
.stretched-link::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
   background-color: rgba(0,0,0,0);
}
#Card5-card-item0
{
   display: inline-block;
   height: 43px;
   box-sizing: border-box;
   border-radius: 12px 12px 0 0 !important;
   margin: 20px 0 0 20px;
   padding: 0;
   border: 0px solid #BABABA;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #1ABC9C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 43px;
}
#Card5-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#Card5-card-item0 .svg-icon
{
   fill: currentColor;
   width: 43px;
   height: 43px;
   overflow: visible;
   margin-right: 0px;
}
#Card5-card-item1
{
   box-sizing: border-box;
   margin: -40px 0 0 80px;
   padding: 12px 20px 12px 20px;
   color: #17406D;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
}
#Card5-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 30px 80px;
   padding: 12px 20px 12px 20px;
   color: #17406D;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Button4
{
   position: absolute;
   left: 1093px;
   top: 11px;
   width: 96px;
   height: 24px;
   z-index: 2;
}
#wb_Image1
{
   position: absolute;
   left: 0px;
   top: 12px;
   width: 122px;
   height: 74px;
   z-index: 1;
}
#wb_Shape3
{
   display: inline-block;
   width: 112px;
   height: 3px;
   z-index: 6;
   position: relative;
}
#wb_Card3
{
   display: flex;
   z-index: 8;
}
#wb_Heading6
{
   display: inline-block;
   width: 100%;
   z-index: 7;
}
#wb_Heading7
{
   display: inline-block;
   width: 100%;
   z-index: 5;
}
#wb_Text1
{
   position: absolute;
   left: 142px;
   top: 10px;
   width: 249px;
   height: 27px;
   z-index: 0;
}
#Layer1
{
   position: relative;
   text-align: center;
   width: 100%;
   height: 98px;
   float: left;
   clear: left;
   display: block;
   z-index: 4;
}
#wb_JavaScript1
{
   position: absolute;
   left: 142px;
   top: 60px;
   width: 404px;
   height: 26px;
   z-index: 3;
}
#copyrightnotice
{
   color: #000000;
   font-size: 15px;
   font-family: "Exo 2";
   font-weight: normal;
   font-style: normal;
   text-align: left;
   text-decoration: none;
}
#wb_Card5
{
   display: flex;
   z-index: 10;
}
#Layer1_Container
{
   width: 1200px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#wb_Card4
{
   display: flex;
   z-index: 9;
}
@media only screen and (min-width: 768px) and (max-width: 1199px)
{
div#container
{
   width: 768px;
}
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#MasterPage1
{
   left: 0px;
   top: 0px;
   width: 768px;
   height: 100px;
   visibility: visible;
   display: inline;
}
#Layer1
{
   width: 768px;
   height: 100px;
   visibility: visible;
   display: block;
   margin: 0;
   border-radius: 0px;
}
#Layer1
{
   margin: 0;
}
#Layer1_Container
{
   width: 768px;
}
#Layer1
{
    width: 100%;
    height: 100px;
}
#wb_Image1
{
   left: 0px;
   top: 12px;
   width: 122px;
   height: 74px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Text1
{
   left: 142px;
   top: 12px;
   width: 249px;
   height: 27px;
   visibility: visible;
   display: inline;
}
#wb_Text1
{
   font-family: "Exo 2";
   font-weight: 400;
   font-size: 19px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Button4
{
   left: 655px;
   top: 13px;
   width: 96px;
   height: 24px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 1px 6px 1px 6px;
}
#wb_JavaScript1
{
   left: 142px;
   top: 59px;
   width: 389px;
   height: 27px;
   visibility: visible;
   display: inline;
}
#wb_LayoutGrid3
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid3
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid3
{
   height: auto;
   padding: 50px 15px 25px 15px;
}
#LayoutGrid3 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#wb_Heading6
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 10px 0 0 0;
}
#wb_Heading7
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0 0 10px 0;
}
#wb_Shape3
{
   width: 112px;
   height: 3px;
   visibility: visible;
   display: inline-block;
   margin: 0;
}
#Shape3
{
   width: 112px;
   height: 3px;
}
#wb_LayoutGrid4
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid4
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid4
{
   height: auto;
   padding: 18px 0 18px 0;
}
#LayoutGrid4 > .col-1, #LayoutGrid4 > .col-2, #LayoutGrid4 > .col-3
{
   padding-right: 0px;
   padding-left: 0px;
}
#LayoutGrid4 > .col-1
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: flex-start;
   text-align: left;
}
#LayoutGrid4 > .col-2
{
   display: block;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-start;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
}
#LayoutGrid4 > .col-3
{
   display: block;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-start;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
}
#CardContainer1
{
   visibility: visible;
   display: flex;
}
#wb_Card3
{
   width: auto;
   height: auto;
   visibility: visible;
   display: flex;
   margin: 4px 4px 4px 4px;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
}
#Card3-card-item0
{
   display: inline-block;
   height: 43px;
   box-sizing: border-box;
   border-radius: 12px 12px 0 0 !important;
   margin: 20px 0 0 20px;
   padding: 0;
   border: 0px solid #BABABA;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #1ABC9C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 43px;
}
#Card3-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#Card3-card-item0 .svg-icon
{
   fill: currentColor;
   width: 43px;
   height: 43px;
   overflow: visible;
   margin-right: 0px;
}
#Card3-card-item1
{
   box-sizing: border-box;
   margin: -40px 0 0 80px;
   padding: 12px 20px 12px 20px;
   color: #17406D;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
}
#Card3-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 30px 80px;
   padding: 12px 20px 12px 20px;
   color: #17406D;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
 .Card3
{
   max-width: 212px;
   width: 212px;
   height: 215px;
}
#wb_Card3
{
   text-align: left;
}
#wb_Card4
{
   width: auto;
   height: auto;
   visibility: visible;
   display: flex;
   margin: 4px 4px 4px 4px;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
}
#Card4-card-item0
{
   display: inline-block;
   height: 43px;
   box-sizing: border-box;
   border-radius: 12px 12px 0 0 !important;
   margin: 20px 0 0 20px;
   padding: 0;
   border: 0px solid #BABABA;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #1ABC9C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 43px;
}
#Card4-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#Card4-card-item0 .svg-icon
{
   fill: currentColor;
   width: 43px;
   height: 43px;
   overflow: visible;
   margin-right: 0px;
}
#Card4-card-item1
{
   box-sizing: border-box;
   margin: -40px 0 0 80px;
   padding: 12px 20px 12px 20px;
   color: #17406D;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
}
#Card4-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 30px 80px;
   padding: 12px 20px 12px 20px;
   color: #17406D;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_Card4
{
   text-align: left;
}
#wb_Card5
{
   width: auto;
   height: auto;
   visibility: visible;
   display: flex;
   margin: 4px 4px 4px 4px;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
}
#Card5-card-item0
{
   display: inline-block;
   height: 43px;
   box-sizing: border-box;
   border-radius: 12px 12px 0 0 !important;
   margin: 20px 0 0 20px;
   padding: 0;
   border: 0px solid #BABABA;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #1ABC9C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 43px;
}
#Card5-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#Card5-card-item0 .svg-icon
{
   fill: currentColor;
   width: 43px;
   height: 43px;
   overflow: visible;
   margin-right: 0px;
}
#Card5-card-item1
{
   box-sizing: border-box;
   margin: -40px 0 0 80px;
   padding: 12px 20px 12px 20px;
   color: #17406D;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
}
#Card5-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 30px 80px;
   padding: 12px 20px 12px 20px;
   color: #17406D;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_Card5
{
   text-align: left;
}
}
@media only screen and (min-width: 480px) and (max-width: 767px)
{
div#container
{
   width: 480px;
}
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#MasterPage1
{
   left: 0px;
   top: 0px;
   width: 480px;
   height: 98px;
   visibility: visible;
   display: inline;
}
#Layer1
{
   width: 480px;
   height: 98px;
   visibility: visible;
   display: block;
   margin: 0;
   border-radius: 0px;
}
#Layer1
{
   margin: 0;
}
#Layer1_Container
{
   width: 480px;
}
#Layer1
{
    width: 100%;
    height: 98px;
}
#wb_Image1
{
   left: 0px;
   top: 12px;
   width: 122px;
   height: 74px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Text1
{
   left: 142px;
   top: 12px;
   width: 249px;
   height: 27px;
   visibility: visible;
   display: inline;
}
#wb_Text1
{
   font-family: "Exo 2";
   font-weight: 400;
   font-size: 19px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Button4
{
   left: 374px;
   top: 15px;
   width: 96px;
   height: 24px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 1px 6px 1px 6px;
}
#wb_JavaScript1
{
   left: 142px;
   top: 56px;
   width: 328px;
   height: 42px;
   visibility: visible;
   display: inline;
}
#wb_LayoutGrid3
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid3
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid3
{
   height: auto;
   padding: 50px 15px 25px 15px;
}
#LayoutGrid3 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#wb_Heading6
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 10px 0 0 0;
}
#wb_Heading7
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0 0 10px 0;
}
#wb_Shape3
{
   width: 112px;
   height: 3px;
   visibility: visible;
   display: inline-block;
   margin: 0;
}
#Shape3
{
   width: 112px;
   height: 3px;
}
#wb_LayoutGrid4
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid4
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid4
{
   height: auto;
   padding: 18px 0 18px 0;
}
#LayoutGrid4 > .col-1, #LayoutGrid4 > .col-2, #LayoutGrid4 > .col-3
{
   padding-right: 0px;
   padding-left: 0px;
}
#LayoutGrid4 > .col-1
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-start;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#LayoutGrid4 > .col-2
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-start;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
}
#LayoutGrid4 > .col-3
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-start;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
}
#CardContainer1
{
   visibility: visible;
   display: flex;
}
#wb_Card3
{
   width: auto;
   height: auto;
   visibility: visible;
   display: flex;
   margin: 0;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
}
#Card3-card-item0
{
   display: inline-block;
   height: 43px;
   box-sizing: border-box;
   border-radius: 12px 12px 0 0 !important;
   margin: 20px 0 0 20px;
   padding: 0;
   border: 0px solid #BABABA;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #1ABC9C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 43px;
}
#Card3-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#Card3-card-item0 .svg-icon
{
   fill: currentColor;
   width: 43px;
   height: 43px;
   overflow: visible;
   margin-right: 0px;
}
#Card3-card-item1
{
   box-sizing: border-box;
   margin: -40px 0 0 80px;
   padding: 12px 20px 12px 20px;
   color: #17406D;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
}
#Card3-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 30px 80px;
   padding: 12px 20px 12px 20px;
   color: #17406D;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
 .Card3
{
   max-width: 430px;
   width: 430px;
   height: 215px;
}
#wb_Card3
{
   text-align: left;
}
#wb_Card4
{
   width: auto;
   height: auto;
   visibility: visible;
   display: flex;
   margin: 0;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
}
#Card4-card-item0
{
   display: inline-block;
   height: 43px;
   box-sizing: border-box;
   border-radius: 12px 12px 0 0 !important;
   margin: 20px 0 0 20px;
   padding: 0;
   border: 0px solid #BABABA;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #1ABC9C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 43px;
}
#Card4-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#Card4-card-item0 .svg-icon
{
   fill: currentColor;
   width: 43px;
   height: 43px;
   overflow: visible;
   margin-right: 0px;
}
#Card4-card-item1
{
   box-sizing: border-box;
   margin: -40px 0 0 80px;
   padding: 12px 20px 12px 20px;
   color: #17406D;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
}
#Card4-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 30px 80px;
   padding: 12px 20px 12px 20px;
   color: #17406D;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_Card4
{
   text-align: left;
}
#wb_Card5
{
   width: auto;
   height: auto;
   visibility: visible;
   display: flex;
   margin: 0;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
}
#Card5-card-item0
{
   display: inline-block;
   height: 43px;
   box-sizing: border-box;
   border-radius: 12px 12px 0 0 !important;
   margin: 20px 0 0 20px;
   padding: 0;
   border: 0px solid #BABABA;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #1ABC9C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 43px;
}
#Card5-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#Card5-card-item0 .svg-icon
{
   fill: currentColor;
   width: 43px;
   height: 43px;
   overflow: visible;
   margin-right: 0px;
}
#Card5-card-item1
{
   box-sizing: border-box;
   margin: -40px 0 0 80px;
   padding: 12px 20px 12px 20px;
   color: #17406D;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
}
#Card5-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 30px 80px;
   padding: 12px 20px 12px 20px;
   color: #17406D;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_Card5
{
   text-align: left;
}
}
@media only screen and (max-width: 479px)
{
div#container
{
   width: 320px;
}
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#MasterPage1
{
   left: 0px;
   top: 0px;
   width: 320px;
   height: 118px;
   visibility: visible;
   display: inline;
}
#Layer1
{
   width: 320px;
   height: 118px;
   visibility: visible;
   display: block;
   margin: 0;
   border-radius: 0px;
}
#Layer1
{
   margin: 0;
}
#Layer1_Container
{
   width: 320px;
}
#Layer1
{
    width: 100%;
    height: 118px;
}
#wb_Image1
{
   left: 1px;
   top: 23px;
   width: 110px;
   height: 67px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Text1
{
   left: 111px;
   top: 12px;
   width: 209px;
   height: 27px;
   visibility: visible;
   display: inline;
}
#wb_Text1
{
   font-family: "Exo 2";
   font-weight: 400;
   font-size: 19px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Button4
{
   left: 12px;
   top: 90px;
   width: 86px;
   height: 28px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 1px 6px 1px 6px;
}
#wb_JavaScript1
{
   left: 111px;
   top: 62px;
   width: 209px;
   height: 47px;
   visibility: visible;
   display: inline;
}
#wb_LayoutGrid3
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid3
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid3
{
   height: auto;
   padding: 50px 15px 25px 15px;
}
#LayoutGrid3 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#wb_Heading6
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 10px 0 0 0;
}
#wb_Heading7
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0 0 10px 0;
}
#wb_Shape3
{
   width: 112px;
   height: 3px;
   visibility: visible;
   display: inline-block;
   margin: 0;
}
#Shape3
{
   width: 112px;
   height: 3px;
}
#wb_LayoutGrid4
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid4
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid4
{
   height: auto;
   padding: 18px 0 18px 0;
}
#LayoutGrid4 > .col-1, #LayoutGrid4 > .col-2, #LayoutGrid4 > .col-3
{
   padding-right: 0px;
   padding-left: 0px;
}
#LayoutGrid4 > .col-1
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-start;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#LayoutGrid4 > .col-2
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-start;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
}
#LayoutGrid4 > .col-3
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-start;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
}
#CardContainer1
{
   visibility: visible;
   display: flex;
}
#wb_Card3
{
   width: auto;
   height: auto;
   visibility: visible;
   display: flex;
   margin: 0;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
}
#Card3-card-item0
{
   display: inline-block;
   height: 43px;
   box-sizing: border-box;
   border-radius: 12px 12px 0 0 !important;
   margin: 20px 0 0 20px;
   padding: 0;
   border: 0px solid #BABABA;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #1ABC9C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 43px;
}
#Card3-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#Card3-card-item0 .svg-icon
{
   fill: currentColor;
   width: 43px;
   height: 43px;
   overflow: visible;
   margin-right: 0px;
}
#Card3-card-item1
{
   box-sizing: border-box;
   margin: -40px 0 0 80px;
   padding: 12px 20px 12px 20px;
   color: #17406D;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
}
#Card3-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 30px 80px;
   padding: 12px 20px 12px 20px;
   color: #17406D;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
 .Card3
{
   max-width: 270px;
   width: 270px;
   height: 215px;
}
#wb_Card3
{
   text-align: left;
}
#wb_Card4
{
   width: auto;
   height: auto;
   visibility: visible;
   display: flex;
   margin: 0;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
}
#Card4-card-item0
{
   display: inline-block;
   height: 43px;
   box-sizing: border-box;
   border-radius: 12px 12px 0 0 !important;
   margin: 20px 0 0 20px;
   padding: 0;
   border: 0px solid #BABABA;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #1ABC9C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 43px;
}
#Card4-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#Card4-card-item0 .svg-icon
{
   fill: currentColor;
   width: 43px;
   height: 43px;
   overflow: visible;
   margin-right: 0px;
}
#Card4-card-item1
{
   box-sizing: border-box;
   margin: -40px 0 0 80px;
   padding: 12px 20px 12px 20px;
   color: #17406D;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
}
#Card4-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 30px 80px;
   padding: 12px 20px 12px 20px;
   color: #17406D;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_Card4
{
   text-align: left;
}
#wb_Card5
{
   width: auto;
   height: auto;
   visibility: visible;
   display: flex;
   margin: 0;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
}
#Card5-card-item0
{
   display: inline-block;
   height: 43px;
   box-sizing: border-box;
   border-radius: 12px 12px 0 0 !important;
   margin: 20px 0 0 20px;
   padding: 0;
   border: 0px solid #BABABA;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #1ABC9C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 43px;
}
#Card5-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#Card5-card-item0 .svg-icon
{
   fill: currentColor;
   width: 43px;
   height: 43px;
   overflow: visible;
   margin-right: 0px;
}
#Card5-card-item1
{
   box-sizing: border-box;
   margin: -40px 0 0 80px;
   padding: 12px 20px 12px 20px;
   color: #17406D;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
}
#Card5-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 30px 80px;
   padding: 12px 20px 12px 20px;
   color: #17406D;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_Card5
{
   text-align: left;
}
}
.darktheme body
{
   background-color: #000000;
}
.darktheme #Layer1,
.darktheme #wb_LayoutGrid3,
.darktheme #wb_LayoutGrid4
{
   filter: invert(100%);
}
