@font-face {
   font-display: swap;
   font-family: "Exo 2";
   font-weight: 400;
   src: url('Exo-2.woff2') format('woff2'), url('Exo-2.woff') format('woff');
}
@keyframes animate-fade-in {
0% {
   opacity: 0;
}
100% {
   opacity: 1;
}
}
@keyframes animate-fade-out {
0% {
   opacity: 1;
}
100% {
   opacity: 0;
}
}
@keyframes slide-down-in {
0% {
   opacity: 0;
   transform-origin: 0 0;
   transform: translate(0px,-100%) rotate(1deg);
}
100% {
   opacity: 1;
   transform-origin: 0 0;
   transform: translate(0px,0px) rotate(0deg);
}
}
@keyframes transform-scale-in {
0% {
   opacity: 0;
   transform: rotate(0deg) scale(0,0);
}
100% {
   opacity: 1;
   transform: rotate(0deg) scale(1.0,1.0);
}
}
h1,
.h1 {
   --color: #000000;
   --color: #000000;
   background-color: transparent;
   color: #000000;
   display: inline-block;
   font-family: Arial;
   font-size: 32px;
   font-weight: bold;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   text-decoration: none;
}
h2,
.h2 {
   --color: #000000;
   --color: #000000;
   background-color: transparent;
   color: #000000;
   display: inline-block;
   font-family: Arial;
   font-size: 27px;
   font-weight: bold;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   text-decoration: none;
}
h3,
.h3 {
   --color: #000000;
   --color: #000000;
   background-color: transparent;
   color: #000000;
   display: inline-block;
   font-family: Arial;
   font-size: 24px;
   font-weight: bold;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   text-decoration: none;
}
h4,
.h4 {
   --color: #000000;
   --color: #000000;
   background-color: transparent;
   color: #000000;
   display: inline-block;
   font-family: Arial;
   font-size: 21px;
   font-style: italic;
   font-weight: bold;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   text-decoration: none;
}
h5,
.h5 {
   --color: #000000;
   --color: #000000;
   background-color: transparent;
   color: #000000;
   display: inline-block;
   font-family: Arial;
   font-size: 19px;
   font-weight: bold;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   text-decoration: none;
}
h6,
.h6 {
   --color: #000000;
   --color: #000000;
   background-color: transparent;
   color: #000000;
   display: inline-block;
   font-family: Arial;
   font-size: 16px;
   font-weight: bold;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   text-decoration: none;
}
.CustomStyle {
   --color: #2E74B5;
   --color: #2E74B5;
   background-color: transparent;
   color: #2E74B5;
   font-family: "Courier New";
   font-size: 16px;
   font-weight: bold;
   text-decoration: none;
}
.style1 {
   background-color: transparent;
   text-decoration: none;
}
.darktheme .style1 {
   --background-color: rgba(0,0,0,1.00);
   background-color: #000000;
   background-image: linear-gradient(to top, #000000 0%, #000000 100%);
}
.darktheme .style1 {
   --background-color: rgba(0,0,0,1.00);
   --background-color: rgba(0,0,0,1.00);
   background-color: #000000;
   background-image: url('linear-gradient(to top, #000000 0%, #000000 100%');
   text-decoration: none;
}
.style2 {
   --background-color: rgba(219,239,249,1.00);
   --color: #17406D;
   background-color: #DBEFF9;
   color: #17406D;
   font-family: "Exo 2";
   font-size: 16px;
   font-weight: 400;
   text-decoration: none;
}
.darktheme .style2 {
   --background-color: rgba(23,64,109,1.00);
   --color: #FFFFFF;
   background-color: #17406D;
   color: #FFFFFF;
}
